html,body{
    width: 100%;
    height: 100%;
}
.navbar{
    background-color: blue !important;
}
.navbar-branch{
    color:white !important;
    text-decoration: none !important;
}
.navbar li a{
    color: white !important;
}
.navbar li a:hover{
    color: yellow !important;
}
.container-fluid{
    max-width: 98.005% !important;
    margin-top: 20px !important;
    padding:0 !important;
}
.custom-slide{
    margin-top: 0 !important;
}
.custom-slide-img{
    min-width: 101.99%;
    margin-left: -15px !important;
}
.custom-container-second{
    max-width: 95%;
}
.custom-container-second-left-img{
    min-width: 104%;
    margin-left:-14px  !important;
    height: fit-content;
}
.custom-container-second-right-img{
    min-width: 104.2%;
    margin-left: -15px !important;
    height: 473px;
}
@media (max-width:769px){
    .custom-container-second-left-img{
        min-width: 104%;
        margin-left:-14px  !important;
        height: 300px;
    }
    .custom-container-second-right-img{
        min-width: 104.2%;
        margin-left: -15px !important;
        height: 300px;
    }
    .custom-contact-text{
        height:120px !important;
    }
}
.card-img-top {
    width: 100%;
    height: 196px;
}
.custom-contact{
    padding: 10px !important;
}
.custom-contact-text{
    height:100px;
}
.custom-text-box1{
    border: 1px solid black;
    height: 60px;
    width: 95% ;
    border-radius: 5px;
    padding: 7px;
}
.custom-text-box2{
    margin-top: 15px;
    border: 1px solid black;
    height: 180px;
    width: 98% ;
    border-radius: 5px;
    padding: 7px;
}
.custom-map{
    height: 200px;
    max-width: 100%;
}
footer{
    background-color:black;
    color : white;
}
.light-100{
    border-top: 1px solid white;
    width: 100%;
}