.custom-container-text-aboutus {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom-item-gachngang {
    width: 70px;
    margin: 5px;
}
.custom-item-text {
    font-size: small;
    margin: 5px;
}
/* -------------------------------------------  */
.custom-container-aboutus {
    display: flex;
    flex-wrap: wrap;
    height: auto;

}
.custom-container-text {
    flex: 1 1;
    width: 300px;
 
}
.custom-container-picture-aboutus {
    flex: 1 1;
    width: 300px;
  
}

/*----------------------------------------------------*/
.custom-education-consulting {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.custom-education {
    flex: 1 1;
    width: 300px;
}
.custom-consulting {
    flex: 1 1;
    width: 300px;
    background-image: url(./Communication.jpg)
}

/*------------------------------------------------*/
.custom-latestnews {
    display: flex;
    flex-direction: row;
    align-content: stretch;   
    height: auto;
    width: 100%;
    align-items: flex-start;

}
.custom-latestnews-1 {
    display: flex;
    flex: 1 1; 
    flex-direction: column;
    margin: 5px;
}
.custom-latestnews-2 {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin: 5px;
}
.custom-latestnews-3 {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin: 5px;
}

.custom-contacts-maps {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.custom-contacts {
    flex: 1 1;
    width: 300px;
}
.custom-maps {
    flex: 1 1;
    width: 300px;
}






.custom-border-green {
    border: 1px solid green;
}

.container-1 {
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid red;
}
.container-2 {
    display: flex;
    flex-direction: row;
    height: auto;
    border: 1px solid red;

}
.container-2-1 {

    border: 1px solid red;
    flex: 1 1;
    margin: 10px;
}
.container-2-2 {
  
    border: 1px solid red;
    flex: 5 1;
    margin: 10px;
    flex-direction: column;

}
.container-2-2-1 {

    border: 1px solid red;
    flex: 1 1;
    margin: 10px;
    height: 150px;
}
.container-2-2-2 {

    border: 1px solid red;
    flex: 1 1;
    margin: 10px;
    height: 150px;
}
.container-2-2-3 {

    border: 1px solid red;
    flex: 1 1;
    margin: 10px;
    height: 150px;
}
/* .container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100px;
    border: 1px solid red;
    align-content: center; */

.item-1 {
    height: 20px;
    /* width: 300px; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1 1;
}
.item-2 {
    height: 20px;
    /* width: 300px; */
    /* flex-grow: 4; */
    /* flex-basis: 400px;
    flex-shrink: 2; */
    flex: 1 1 ;

}
.item-3 {
    height: 20px;
    /* width: 300px; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1 1 ;
    order: 6;
}
.item-4 {
    height: 20px;
    /* width: 300px; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1 1 ;
}
.item-5 {
    height: 20px;
    /* width: 300px; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1 1 ;
}
.item-6 {
    height: 20px;
    /* width: 300px; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1 1 ;
    order: 3;
}