* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-menu {
  list-style-type: none;
  background-color: rgb(117, 159, 236);
  padding: 20px 0px;
}

.container-menu .logo a {
  text-decoration: none;
  float: left;
  padding: 0px 320px;
  color: #fff;
  font-weight: 650;
}

.container-menu .menu {
  float: left;
}

.menu>ul,
.menu>ul>li {
  display: inline-block;
}

.menu>ul>li>a {
  text-decoration: none;
  padding: 0 12px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.menu>ul>.items-uppercase {
  text-transform: uppercase;
}

.container-menu .search-btn i {
  padding: 0 12px;
  color: #fff;
  font-size: 12px;
}


#content #aboutus {
  padding: 32px 200px;
  min-height: 500px;
}

#aboutus article {
  float: left;
  max-width: 450px;
}

#aboutus>article>.aboutus-heading::before {
  background-color: rgb(84, 123, 209);
  content: "";
  display: inline-block;
  left: 0;
  height: 2px;
  width: 40px;
}

#aboutus>.aboutus-heading {
  color: gray;
  font-weight: 300;
  text-transform: uppercase;
}

#aboutus .about-text {
  margin-top: 20px;
}

#aboutus .about-text strong {
  line-height: 1;
  max-width: 100%;
}

#aboutus .about-text-sub {
  font-size: 12px;
  line-height: 1.6;
  color: grey;
  margin-top: 16px;
}

#aboutus aside {
  float: left;
  max-width: 450px;
}

/* Làm lại từ phần này */
#content #education {
  padding: 32px 0;
  width: 100%;
  position: relative;
  top: 0;
}

#education .image {
  min-height: 480px;
}

#education .image>img {
  float: left;
}

#education .text-header h4::before {
  background-color: rgb(236, 239, 245);
  content: "";
  display: inline-block;
  left: 0;
  height: 4px;
  width: 40px;
}

#education .information {
  /* position: absolute; */
}

