*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
}
.header-top{
    display: flex;
    justify-content: space-between;
    background-color:rgba(66, 66, 231, 0.836);
    padding: 50px;
}
.text-logo{
    margin-left: 60px;
}
.text-logo a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.sub-main{
    font-size: 12px;
}
.sub-main ul{
    display: flex;
}
.sub-main ul li{
    list-style: none;
}
.sub-main ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.slider img{
    width: 100%;
}
.content{
    display: flex;
    margin-top: 50px;
    /* margin-left: 60px; */
    min-height: 600px;
}
.content .text-content{
    flex: 1;
    flex-direction: column;
    width: 50%;
    padding: 50px;

}
.content .content-img{
    flex: 1;
    height: 400px;
    width: 100%;
}
.content .text-content strong{
    padding-top:20px;
    font-size:30px;
}
.images{
    display: flex;
    width: 100%;
    min-height:600px;
}
.images .images-Education2{
    /* width:600px;
    height:555px; */
}

.images .images-Communication{
    /* width:600px;
    height:555px; */
}
.images .images-Communication img{
    height: 473px;
    width: 794px;

}
.images > .images-handshake > img{
    width: 45px;
    height: 40px;
    border-radius: 66px;
    transform: translateX(489px);
    margin-top: 43px;
}
.images > .images-books > img{
    width: 45px;
    height: 40px;
    border-radius: 66px;
    transform: translateX(489px);
    margin-top: 120px;
}
.images > .text-images{
    color: white;
    right: 200px;
    top: 30px;
}
.images > .text-images p{
    font-size: 12px;
}
.images > .text-images strong{
font-weight: 700;
padding-top: 70px;
}
/* .new .list-new {
    display: flex;
} */
.new{
    text-align: center;
}
.text-new{
    padding-bottom: 10px;
}
.place-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 48px;
    /**/}
    
    .place-item{
    float: left;
    /*width: 33.333333%;*/
    width: calc(100% / 3);
    padding:30px;
    border: 1px solid rgb(180, 176, 176);
    }
    
    .place-img{
        width: 100%;
    padding: 3px 1px;
    display: block;
    }
    .place-img:hover{
        opacity:0.6;
    }
    
    .place-body{
    background-color: white;
    width: 100%;
    padding: 0 16px;
    color:black;
    
    }
    
    .place-heading{
        font-size: 15px;
        /*margin-top: 15px;*/
        padding-top: 15px;
    
    }
    .contact{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 100px;
        min-height: 300px;
    }
    .contact > .contact-one >h5{
        padding: 0 100px;
    }
    .contact > .contact-two > .map{
        width: 650px;
        display: block;
        height: 200px;
        float: left;
    }
    .send{
        margin-top: 30px;
        background-color: rgb(221, 224, 21);
        padding: 20px 40px;
        border: none;
        color: white;
        font-weight: 700;
    }
    .send:hover{
        background: rgb(17, 211, 33);
        color: black;
    }

    .contact_maill{
        display: block;
        margin-top: 10px;
    }
    .contact_mess{
        display: block;
        margin-top: 30px;
    }
    .lorem{
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
    }
    .mail{
        padding: 20px 70px;
        border-radius: 10px;
    }
    .mess{
        padding: 20px 70px;
        border-radius: 10px;
    }
    #footer{
        min-height: 200px;
        background-color: rgb(59, 57, 57);
        display: flex;
        padding: 0 50px;
        margin-top: 30px;
        color: white;
    }
    #footer .crevea p{
        font-size: 10px;
        padding: 10px 50px 10px 0px;
    }
    /* #footer .crevea p{
        padding-left: 5px;
    } */
    #footer .category{
        font-size: 16px;
        padding: 10px 20px 10px 10px;
    }
    
    #footer .category ul li{
        list-style: none;
        font-size: 10px;
        padding: 10px 50px 10px 0px;
    }
    #footer .langue{
        font-size: 16px;
        padding: 10px 20px 10px 10px;

    }
    #footer .langue ul li{
        list-style: none;
        font-size: 10px;
        padding: 10px 50px 10px 0px;
    }
    #footer .getout{
        font-size: 16px;
        padding: 10px 20px 10px 10px;
    }
    #footer .getout p{
        font-size: 10px;
        padding: 10px 50px 10px 0px;
    }
    #footer .getout input{
        border-bottom: 1px solid rgb(248, 238, 238);
    }