.bg-blue{
    background: skyblue;
}
.nav-bar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infomation{
    display: flex;
}
.infomation .infomation__detail{
    width: 50%;
}
.infomation .infomation__img{
    width: 50%;
}

.infomation2{
    position: relative;
    height: 500px;
}
.infomation2 .w-50{
    float: left;
    height: 100%;
}
.infomation2 img{
    object-fit: cover;
    height: 100%;
}
.infomation2__detail{
    position: absolute;
    top: 30px;
    left: 50%;
}
.infomation2__detail img{
    width: 40px;

}
