:root {
  --primary-color: #0072d3;
  --secondary-color: #1b1919;
  --third-color: #ffb400;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
}
.checkbox {
  display: none;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1150px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.head {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 28px;
}
.head span {
  padding-left: 50px;
}
.head:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: var(--primary-color);
  transform: translateY(-100%);
}
/* HEADER */
.header {
  width: 100%;
}
.toggle-icon {
  display: none;
}
.nav {
  background-color: var(--primary-color);
}
.nav .container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 35px;
  padding-bottom: 35px;
}
.nav-brand {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
}
.nav-menu {
  display: flex;
}
.nav-link:not(:first-child) {
  text-transform: uppercase;
}

.nav-link {
  transition: all 0.2s linear;
}
.nav-link.active,
.nav-link:hover {
  color: var(--third-color);
}
.nav-list {
  display: flex;
  align-items: baseline;
}
.nav-search {
  margin-left: 20px;
}
/* hero */
.hero {
  margin-bottom: 50px;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* MAIN */
/* about */
.about {
  margin-bottom: 100px;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.about .container > * {
  width: 50%;
}
.about-title {
  display: inline-block;
  padding-right: 50px;
  margin-bottom: 25px;
}
.about-desc {
  line-height: 1.3;
}
.about-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* business */
.business {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.business-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  position: relative;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translateX(-150%);
}


.image > img {
  width: 100%;
  height: 100%;
  object-fit: fill;

}
.business-image {
  width: 50%;
  height: 592px;
}
.business-image > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.business-content {
  flex: 1;
  background-image: url(../img/Communication.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px;
}
.business .head {
  text-transform: unset;
  margin-bottom: 42px;
}
.business .head:before {
  background-color: #fff;
}
.business-desc {
  margin-bottom: 30px;
}
/* News */
.news {
  --column: 3;
  --gap: 30px;
  margin-bottom: 165px;
}
.news .head {
  text-transform: capitalize;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  grid-gap: var(--gap);
  align-items: flex-start;
}
.new-title {
  margin-bottom: 10px;
}
.card-item {
  border: 1px solid #ccc;
}
.card-image {
  display: block;
  height: 175px;
  margin-bottom: 10px;
}
.card-content {
  padding: 10px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-title {
  margin-bottom: 20px;
  display:-webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.card-desc {
  line-height: 1.3;
  margin-bottom: 20px;
}
/* contact */
.contacts {
  margin-bottom: 80px;
}
.contacts .container {
  display: flex;
  flex-wrap: wrap;
}
.contacts-content {
  width: 50%;
  padding-right: 30px;
}
.contacts-title {
  margin-bottom: 10px;
}
.contacts-map {
  flex: 1;
}
/* contact form */
.contacts-form {
  user-select: none;
  width: 100%;
}
.contacts .head {
  text-transform: capitalize;
}
.contacts-form .form-list {
  --column: 3;
  --gap: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-bottom: var(--gap);
}
.form-list .form-item {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  display: inline-block;
  width: calc(100%/var(--column) - var(--gap));
  margin-left: var(--gap);
}
.btn {
  display: block;
  background-color: var(--third-color);
  color: white;
  padding: 20px 35px;
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  margin-left: auto;
  transform: translateX(calc(50% + 30px));

}
/* FOOTER */
.footer {
  background-color: #1b1919;
  color: #999;
  line-height: 1.3;
}
.footer-head {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-list {
  display: flex;
}

.footer-info span {
  color: white;
}
.footer-item {
  flex: 1;
  padding-right: 20px;
}
.footer-info {
  margin-bottom: 25px;
}
.footer-item-link {
  line-height: 1.5;
  position: relative;
  display: flex;
  align-items: center;
}
.footer-item-link .item {
  display: inline-block;
  padding-left: 15px;
}
.footer-item-link:before {
  content: "\f054";
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2rem;
}
.footer-desc {
  margin-bottom: 32px;
}
.footer-form {
  display: flex;
  position: relative;
}
.footer-form input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
  color: white;
}
.footer-form button {
  position: absolute;
  bottom: 5px;
  right: 0;
  background-color: #fff;
  padding: 5px;
  outline:none;
  border: none;
}
.footer .container {
  padding-top: 55px;
  padding-bottom: 10px;
}
.footer-signature {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 20px 0;
}
.footer-signature:before {
  position: absolute;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
@media screen and (max-width: 1023px){
  html {
    font-size: 52.5%;
  }
  .nav .container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .business > * {
    width: 100%;
  }
  .image {
    transform: translateX(-80%);
  }
  .business {
    padding: 10px;
  }
  .business-title,
  .business-desc {
    padding-left: 30px;
  }
  .news {
    margin-top: 28px;
  }
  .contacts-form .form-list {
    --column: 1;
    row-gap: 20px;
  }
  .btn {
    transform: translateX(0);
    margin: auto;
  }
  .footer-list {
    display: unset;
  }
}
@media screen and (min-width: 768px){
  .nav-link + .nav-link {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px){
  html {
    font-size: 50.5%;
  }
  .about .container > * {
    width: 100%;
  }
  .about-title {
    padding-right: 0;
  }
  .about-desc {
    margin-bottom: 10px;
  }
  .business-image {
    height: 178px;
  }
  .business-content {
    flex: 1;
  }
  .contacts .container {
    display: block;
  }
  .contacts .container > * {
    width: 100%;
  }
  .contacts-content {
    padding-right: 0;
  }
  .contacts-map {
    margin-top: 50px;
  }
  .footer-head {
    font-size: 2.5rem;
  }
  .news {
    --column: 1;
  }
  .toggle-icon {
    display: block;
    color: #999;
    font-size: 2rem;
  }
  .nav-search {
    color: black;
    font-size: 2rem;
  }
  .nav-brand {
    color: var(--primary-color);
    font-size: 2.8rem;
  }
  .nav {
    background-color: #fff;
    position: relative;
  }
  .nav-menu {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, black, white);
    padding: 10px 40px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
  }
  .nav-link {
    padding: 10px;
  }
  .checkbox:checked ~ .nav-list .nav-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}