@media (max-width: 990px) {
	.top-header {
		display: block;
	}
	#header {
		display: block;
	}
	.logo {
	    float: none;
	    text-align: center;
	}

	.social-network {
	    margin-left: 0;
	}

	.phone-number {
	    margin-top: 13px;
	}
	button.crop-farm {
   	 display: none;
	}

	.main-nav > ul  {
	    display: flex;
	    justify-content: center;
	}

}
@media (max-width: 767px) { 
	.top-header {
		display: block;
	}
	#header {
		display: block;
	}
	.logo {
	    float: none;
	    text-align: center;
	}

	.social-network {
	    margin-left: 0;
	    margin-right: 10px;
	}
	aside.side-bar {
   		 margin-top: 20px;
	}

	.phone-number {
	    margin-top: 13px;
	    margin-right: 10px;
	}
	button.crop-farm {
   	 display: none;
	}
	.main-nav {
		position: relative;
		margin-top: -50px;
		float: left;
	}
	.main-nav > ul  {
	    display: none;
	    position: absolute;
	    top: 100%;
	    left: -30px;
	    width: 300px;
	    background: grey;
	}
	.main-nav:hover > ul {
		display: block;
	}

	.main-nav ul >li {
		display: block;
		float:none;
		border-bottom: 1px solid white;
	}
	.main-nav ul >li > a {
		color: black;
	}
	.mobile-menu {
		display: block;
		margin-left: 10px;
	}
	.main-header .container {
		background: none;
	}
	.social-network {
		display: none;
	}
	.side-bar {
		float: none;
		width: 100%;
		padding: 0px 10px;
	}
	.main-content {
		float: none;
		width: 100%;
		padding: 0px 10px;
	}
	#content> .container {
		display: flex;
		flex-direction: column-reverse;
	}
	.footer {
		
		text-align: center;
	}

}

@media ( max-width: 360px){
	.logo a img {
   		 max-width: 286px;
	}
	.phone-number {
    	font-size: 37px;
	}
}
@media (max-width: 400px ){
	.logo a img {
		max-width: 345px;
	}

	.phone-number {
	    font-size: 37px;
	}
}