
div.menutren{
    background-color: blue;
    height: 70px;
    width: 100%;

}ul.menungang{
    display: flex;
    list-style: none;
    width: 900px;
    margin-left: auto;
    margin-left: auto;
}

ul.menungang li a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-family: segoe ui;
    font-size: 15px;
    padding-top:25px;
    padding-right: 25px;
    padding-left: 18px;
    display: block;
}
ul.menungang li a:hover{
    color: rgb(233, 27, 27);
}
div.so1 {
    display: flex;
    width: auto;   
}
div.so2{
    display: flex;
    width: auto;  
}
div.so3{
    display: flex;
    width: auto;  
}
div.so4{
    display: flex;
    width: auto;  
}
div.so5{
    display: flex;
    width: auto;  
}
img{
    width: 100%;
}

