/* p {
    color: hotpink;
}

section>span {
    color: chartreuse;
}
span~section span {
    color: blue;
} */
/* .custom-color {
    color: hotpink;
}
#colorOrange {
    color: orange;
}
.custom-hover:hover {
    color: hotpink;
}
.custom-focus-button:focus{
    background-color: yellowgreen;
    color: aliceblue;
}
.container span:last-child {
    color: aqua;
}
.container span:first-child {
    color: rgb(214, 15, 25);
}
.container span:nth-child(3) {
    color: rgb(105, 211, 43);
}
.container span:nth-child(2n) {
    color: rgb(218, 128, 26);
}
.custom-color-sp {
    color: rgb(38, 172, 20);
}
/* id được ưu tiên hơn class */
/* #colorRed {
    color: red;
} */ 
/* ưu tiên important */
/* span {
    color: hotpink !important;
} */

.custom-color {
    position: sticky;
    color: aqua;
    margin: 10px 5px 2px;
    padding: 10px;
    top: 0;
    background-color: bisque;
}

.container span {
    border-right: 1px solid black;
    padding: 10px 15px;;
}
.container span:last-child {
    border-right: none;
}
.custom-avatar {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid pink;
    border-radius: 50%;
    background-image: url(./meo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* margin:  * * * * ( trên phải dưới trái)
margin:  * * ( trên, dưới 1 value, phải trái 1 value)
margin:  * (cùng 1 value)
margin:  * * * (trên value thứ nhất, phải trái giá trị thứ 2, dưới giá trị cuối cùng) */

.custom-position {
    height: 300px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

.item-1 {
    height: 100px;
    width: 100px;
    background-color: rgb(21, 197, 44);
    position: absolute;
    top: 0;
    left: 0;
}

.item-2 {
    height: 150px;
    width: 150px;
    background-color: hotpink;
    position: absolute;
    top: 0;
    right: 0;
}
.customFixed {
    height: 50px;
    width: 50px;
    background-color: pink;
    position: fixed;  /*cố định góc mh*/
    bottom: 12px;
    right: 10px;
}

.custom-animation {
    height: 100px;
}