*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(233, 240, 231);
}
.div0{
    background-color: darkcyan;
    height: 70px;
}
@media only screen and (max-width : 768px){
    .lala1 {
        padding: 15px;
    }
    .lala2{
        padding-left: 15px !important;
    }
}


