*{
    margin: 0;
    padding: 0;
}
#header{
    float: left;
    background-color: blue;
    width: 100%;
    height: 50px;
}
#textmenu{
    width: 30%;
    height: 100%;
    margin-left: 200px;
    padding-top: 18px;
    color: white;
    float: left;
}
#menu{
    float: left;
    margin-top: 12px;
    margin-left: 200px;
}
#menu li{
    display: inline-block;
    color: white;
    margin: 5px;
    
}
#menu li:hover{
    color:yellow;
}
#search{
    float: right ;
    background-image: url(./baseline_search_black_24dp.png);
    background-repeat:no-repeat;
    width : 30px;
    height: 19px;
}
#img{
    float:left;
    width: 100%;
    height: 670px;
    background-image: url(./students.jpg);
    background-size: cover;
    background-position: center center;
}
#card1{
    float:left;
    width: 60%;
    height: 300px;
    margin-left: 297px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#textcard1{
    float: left;
    width: 50%;
    padding-top: 20px;
}
#imgcard1{
    float: left;
    background-image: url(./Business.JPG);
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
}
#card2{
    float:left;
    width: 100%;
    height: 400px;

}
#img1card2{
    float: left;
    background-image: url(./Education2.jpg);
    width: 50%;
    height:100%;
    background-size: 100% 100%;
}
#img2card2{
    float: left;
    margin-left:738px;
    margin-top:-400px;
    background-image: url(./Communication.jpg);
    width: 42.5%;
    height:73.5%;
    background-size: 100% 100%;
    padding: 53px;
    color:white;
}
#icon1card2{
    float: left;
    position:absolute;
    margin-left: 711px;
    margin-top: 100px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-image: url(./Handshake.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
}
#icon2card2{
    float: left;
    position:absolute;
    margin-left: 711px;
    margin-top: 180px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-image: url(./Books.png);   
    background-size: 100% 100%;
    border-radius: 50%;

}
#card3{
    margin:70px 300px;
    float: left;
    width:60%;
    height:400px;
}
#list1card3{
    float:left;
    width:31%;
    height:80%;
    margin-top: 10px;
    border: 1px solid #180808;
}
#list2card3{
    float:left;
    width:31%;
    height:80%;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid #180808;
}
#list3card3{
    float:left;
    width:30.5%;
    height:80%;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid #180808;
}
#imglist1{
    float:left;
    width: 100%;
    height:50%;
    background-image:url(./News\ 2.jpg);
    background-size:100% 100%;
}
#textlist1{
    float:left;
    margin-top: 15px;
    margin-left: 15px;
}
#imglist2{
    float:left;
    width: 100%;
    height:50%;
    background-image:url(./News\ 1.jpg);
    background-size:100% 100%;
}
#textlist2{
    float:left;
    margin-top: 15px;
    margin-left: 15px;
}
#imglist3{
    float:left;
    width: 100%;
    height:50%;
    background-image:url(./Class.jpg);
    background-size:100% 100%;
}
#textlist3{
    float:left;
    margin-top: 15px;
    margin-left: 15px;
}
#contact{
    margin:70px 300px;
    float: left;
    width:60%;
    height:500px;
}
#contactleft{
    float: left;
    width: 49%;
    height:40%;
}
#textcontactleft{
    float: left;
    width:100%;
    height:40%;
    margin-bottom: 17px;
}
#blockcontactleft1{
    float: left;
    width:30%;
    height:20%;
    margin-right: 20px;
    text-align: center;
    padding-top:20px ;
    border:#180808 solid 1px;
}
#blockcontactleft2{
    float: left;
    width:30%;
    height:20%;
    margin-right: 20px;
    text-align: center;
    padding-top:20px ;
    border:#180808 solid 1px;
}
#blockcontactleft3{
    float: left;
    width:29%;
    height:20%;
    text-align: center;
    padding-top:20px ;
    border:#180808 solid 1px;
}
#contactright{
    float: left;
    width: 49%;
    height:40%;
    margin-left: 17px;
    background-image: url(./Map.png);
    background-size:100% 100%;
}
#contactbellow{
    float: left;
    width: 44%;
    height:30%;
    margin-top: 17px;
    border: 1px solid black;
    padding: 20px;
}
#send{
    float: left;
    width: 200px;
    height:30px;
    background-color:rgb(239, 243, 13);
    margin-top:220px;
    margin-left: -95px;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
}
#end{
    float:left;
    width:99.5%;
    height:300px;
    background-color:black;
}
#textend1{
    margin-top:30px;
    float:left;
    width: 15%;
    height:70%;
    color:white;
    margin-left: 265px;
}
#textend2{
    margin-top:30px;
    float:left;
    width: 15%;
    height:70%;
    color:white;
    margin-left: 20px;
}
#textend3{
    margin-top:30px;
    float:left;
    width: 15%;
    height:70%;
    color:white;
    margin-left: 20px;
}
#textend4{
    margin-top:30px;
    float:left;
    width: 15%;
    height:70%;
    color:white;
    margin-left: 20px;
}
#textend5{
    float:left;
    width: 100%;
    text-align:center;
    color:white;
    margin-top: -10px;
}